In [1]:
import pandas as pd
import os
import fonctions.fonctions as f
from euroleague_api.play_by_play_data import PlayByPlay

C:\Users\guill\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-11-22 15:06:38.918 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-11-22 15:06:38.925 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-11-22 15:06:38.935 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [2]:
data_dir = r"C:\Users\guill\OneDrive\Documents\euroleague_eurocup\datas"
competition = "euroleague"
season = 2025

In [3]:
competition_pbp = pd.read_csv(os.path.join(data_dir, f'{competition}_pbp_{season}.csv'))
competition_gs = pd.read_csv(os.path.join(data_dir, f'{competition}_gs_{season}.csv'))

game_code_list = competition_gs["Gamecode"].unique().tolist()

In [4]:
df = f.calcul_per2(data_dir, season, competition)
df = df[(df["TIME_ON"]>0)].copy()
df.insert(6, "I_PER", df["PER"] / df["TIME_ON"] ** 0.5)
df["I_PER"] = df["I_PER"].round(2)
df["NB_GAME"] = 1
df = df[['ROUND', 'NB_GAME', 'TEAM', 'OPPONENT', 'HOME', 'WIN', 'NUMBER', 'PLAYER',
         'TIME_ON', "I_PER", 'PER', 'PM_ON', 'PTS', 'DR', 'OR', 'TR', 'AS', 'ST', 'CO',
         '1_R', '1_T', '2_R', '2_T', '3_R', '3_T','TO', 'FP', 'CF', 'NCF']]

2025-11-22 15:07:10.862 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:07:13.762
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\guill\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-11-22 15:07:13.764 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:07:13.766 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:07:13.770 No runtime found, using MemoryCacheStorageManager
2025-11-22 15:07:14.291 Thread 'Thread-5': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:07:14.462 Thread 'Thread-5': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:07:19.947 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:07:19.949 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [6]:
data = f.get_aggregated_data(df, 1, 38)

2025-11-22 15:08:26.649 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:08:26.650 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:08:26.651 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:08:26.669 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-22 15:08:26.671 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [ ]:
data["PIR"] = (
    data[["PTS","TR","AS","ST","CO","1_R","2_R","3_R","FP"]].sum(axis=1)
    - data[["1_T","2_T","3_T","TO","CF","NCF"]].sum(axis=1)
)

data["SCORE_FANTASY"] = data["PIR"] + (
    (data["WIN"] == "YES") * data["PIR"].abs() * 0.10
)

In [14]:
df_player = data.groupby("PLAYER").agg(
    TOTAL_SCORE_FANTASY=("SCORE_FANTASY", "sum"),
    N_MATCH=("PLAYER", "count")
).reset_index()

In [18]:
df_player.sort_values(by="TOTAL_SCORE_FANTASY", ascending=False, inplace=True)
df_player.reset_index(drop=True, inplace=True)

In [21]:
df_player.head(50)

                      PLAYER  TOTAL_SCORE_FANTASY  N_MATCH
0          MILUTINOV, NIKOLA                279.9       12
1             BRYANT, ELIJAH                271.4       12
2            PETRUSEV, FILIP                264.0       12
3         FRANCISCO, SYLVAIN                263.3       12
4            VEZENKOV, SASHA                255.3       12
5                JAMES, MIKE                250.4       12
6                HIFI, NADIR                233.5       11
7                LYLES, TREY                225.9       12
8   LUWAWU-CABARROT, TIMOTHE                223.7       12
9              DORSEY, TYLER                215.5       12
10        SHENGELIA, TORNIKE                211.8       12
11            NUNN, KENDRICK                211.7       12
12          BALDWIN IV, WADE                208.8       12
13             MONEKE, CHIMA                207.1       10
14             WRIGHT, MOSES                206.2       12
15     MILLER-MCINTYRE, CODI                203.5       12
16                OTURU, DAN                201.6       12
17            JONES, TYRIQUE                198.8       11
18        KABENGELE, MFIONDU                196.7       10
19           TAVARES, WALTER                195.6       12
20             THEIS, DANIEL                187.3       12
21             LARKIN, SHANE                186.0       11
22          ROBINSON, JUSTIN                185.8       11
23              MOORE, OMARI                184.7       12
24             CLYBURN, WILL                183.9       12
25           MICIC, VASILIJE                182.3       12
26         WEILER-BABB, NICK                181.9       12
27             DIALLO, ALPHA                181.3       12
28             SORKIN, ROMAN                181.3       12
29             OSMANI, ERCAN                179.3       12
30             HOARD, JAYLEN                176.4       11
31           BROWN, STERLING                171.4       12
32           DIALLO, HAMIDOU                169.0       12
33           MIROTIC, NIKOLA                167.0       12
34          BOLMARO, LEANDRO                166.7       12
35         BLAKENEY, ANTONIO                166.3       12
36              BONGA, ISAAC                165.4       12
37          THOMPSON, DARIUS                165.1       12
38               HALL, DEVON                164.7       12
39             NWORA, JORDAN                164.4        7
40      HERNANGOMEZ, JUANCHO                164.0       12
41             WATSON, GLYNN                163.2       12
42           EDWARDS, CARSEN                162.7       12
43           SLOUKAS, KOSTAS                162.5       12
44                  LEAF, TJ                159.7       11
45             MALEDON, THEO                156.4        9
46               OSMAN, CEDI                155.7       11
47             BACON, DWAYNE                154.8       11
48           TAYLOR, KAMERON                154.6       12
49           SHIELDS, SHAVON                153.6       10

In [22]:
df_player.to_csv("fantasy_scores_euroleague_2025.csv", index=False)

In [2]:
import pandas as pd
import os
import fonctions.fonctions as f

C:\Users\guill\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-12-02 00:32:52.468 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-12-02 00:32:52.468 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager
2025-12-02 00:32:52.482 WARNING streamlit.runtime.caching.cache_data_api: No runtime found, using MemoryCacheStorageManager

In [3]:
data_dir = r"C:\Users\guill\OneDrive\Documents\euroleague_eurocup\datas"
competition = "euroleague"
season = 2025

In [4]:
competition_gs = pd.read_csv(os.path.join(data_dir, f'{competition}_gs_{season}.csv'))

In [28]:
competition_gs.columns

Index(['Season', 'Phase', 'Gamecode', 'Round', 'roundAlias', 'roundName',
       'played', 'date', 'confirmedDate', 'confirmedHour', 'localTimeZone',
       'localDate', 'utcDate', 'localLast5Form', 'roadLast5Form',
       'season.name', 'season.code', 'season.alias', 'season.competitionCode',
       'season.year', 'season.startDate', 'group.id', 'group.order',
       'group.name', 'group.rawName', 'phaseType.code', 'phaseType.alias',
       'phaseType.name', 'phaseType.isGroupPhase', 'local.club.code',
       'local.club.name', 'local.club.abbreviatedName',
       'local.club.editorialName', 'local.club.tvCode', 'local.club.isVirtual',
       'local.club.images.crest', 'local.score', 'local.standingsScore',
       'road.club.code', 'road.club.name', 'road.club.abbreviatedName',
       'road.club.editorialName', 'road.club.tvCode', 'road.club.isVirtual',
       'road.club.images.crest', 'road.score', 'road.standingsScore'],
      dtype='object')

In [5]:
cgs = competition_gs[["local.club.abbreviatedName","road.club.abbreviatedName","local.score","road.score"]]
cgs.columns = ["HOME_TEAM","AWAY_TEAM","HOME_SCORE","AWAY_SCORE"]

In [6]:
# 1) Calcul de la colonne résultat (1 si home win, sinon 0)
cgs["resultat"] = (cgs["HOME_SCORE"] > cgs["AWAY_SCORE"]).astype(int)

# 2) Liste de tous les clubs
clubs = pd.unique(cgs[["HOME_TEAM", "AWAY_TEAM"]].values.ravel())

# 3) Création d’un df vide avec 0 partout
club_matrix = pd.DataFrame(0, index=cgs.index, columns=clubs)

# 4) Remplissage : +1 pour home, -1 pour away
for idx, row in cgs.iterrows():
    club_matrix.at[idx, row["HOME_TEAM"]] = 1
    club_matrix.at[idx, row["AWAY_TEAM"]] = -1

# 5) Concaténation avec le résultat
cgs_transformed = pd.concat([club_matrix, cgs["resultat"]], axis=1)

In [7]:
from sklearn.linear_model import LogisticRegression
import pandas as pd

# X = colonnes clubs
X = cgs_transformed.drop(columns=["resultat"])
y = cgs_transformed["resultat"]

# Modèle de régression logistique
logreg = LogisticRegression(max_iter=500)
logreg.fit(X, y)

# Récupération des coefficients
coefs = pd.Series(logreg.coef_[0], index=X.columns)

# Classement des coefficients
coefs_sorted = coefs.sort_values(ascending=False)

# Classement basé sur les coefficients triés (déjà dans coefs_sorted)
ranking = coefs_sorted.rank(ascending=False, method="first")

# Conversion en tableau propre
classement = pd.DataFrame({
    "coef": coefs_sorted,
    "rang": ranking.astype(int)
}).sort_values("rang")

print(classement)

                     coef  rang
Hapoel Tel Aviv  0.708853     1
Panathinaikos    0.608490     2
Monaco           0.547692     3
Crvena Zvezda    0.537829     4
Zalgiris         0.531619     5
Valencia         0.433648     6
Barcelona        0.402249     7
Olympiacos       0.294174     8
Real             0.238658     9
Fenerbahce       0.200930    10
Milan            0.163055    11
Dubai           -0.002483    12
Virtus          -0.041236    13
Bayern          -0.355861    14
Anadolu Efes    -0.461578    15
Paris           -0.496710    16
Partizan        -0.619844    17
Baskonia        -0.821346    18
ASVEL           -0.856052    19
Maccabi         -1.012086    20

In [8]:
logreg.coef_

array([[-0.46157776, -1.0120862 , -0.82134556,  0.29417393,  0.53782857,
         0.16305451, -0.00248279, -0.61984411,  0.70885278,  0.40224866,
         0.60849031, -0.3558612 , -0.04123631,  0.23865792,  0.20093013,
        -0.49671028,  0.5476917 ,  0.53161933, -0.85605185,  0.43364822]])